<div class="row">
<div class="col-6">
        <div class="card">
            <div class="card-header">
              Roles
            </div>
            <div class="card-body">
                <div class="form-check" *ngFor="let item of userRoles">
                    <input type="hidden" [value]="item.userId" />
                    <input type="hidden" [value]="item.roleId" />
                    <input type="checkbox" class="form-check-input" [checked]="item.isSelected" [(ngModel)]="item.isSelected" />
                    <label class="form-check-label">
                        {{item.roleName}}
                    </label>
                </div>
            </div>
            <div class="card-footer text-body-secondary">
                <input type="button" value="Update" class="btn btn-primary" (click)="onUpdate(userRoles)"  />
            </div>
          </div>
        </div>
    </div>